:root {
    --snake: #000000;
    --background: #3e8000;
    --cell: #43b103;
    --food: hsl(0, 59%, 41%);
    --body: hsl(0, 0%, 100%);
}
body{
    background-color: var(--body);
    display: flex;
    flex-flow: column;
    align-items: center;
}
img{
    position: absolute;
    left: -50px;
    top: -50px;
    opacity: 0;
}
a{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--body);
}
.cell{
    width: 25px;
    height: 25px;
    background-color: var(--cell);
    margin: 2px;
    border-radius: 3px;
}
#fieldContainer{
    display: flex;
    flex-flow: column;
}
#funnyDiv{
    position: relative;
}
.row{
    display: flex;
    
}
.snake{
    background-color: var(--snake);
}
.food{
    background-color: var(--food);
}
#fieldContainer{
    width: fit-content;
    border-radius: 7px;
    padding: 5px;
}
#startingScreen{
    padding: 30px;
    width: fit-content;
    background-color: var(--cell);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}
p{
    margin-top: 0px;
}
#startButton{
    margin-top: 10px;
    height: 50px;
}
#extraFoodP{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    color: var(--body);
}
.difficulty{
    background-color: var(--body);
    width: 90px;
    height: 30px;
    border-radius: 8px;
    font-size: 18px;
    color: var(--snake);
    background-color: var(--body);
    border-style: none;
}
.difficulty:active{
    background-color: gainsboro;
}